body
	margin: 0
	font-family: sans-serif

	.lock
		overflow: hidden

.btn
	background-color: white
	color: black

	&__inverted
		background-color: black
		color: white

		&--light
			background-color: #FBC
			color: #555
			transform: scale(1.1)
	
	&.active
		outline: 1px solid skyblue
		transition: 350ms