body {
	font-family: "Exo2", sans-serif;
	font-size: 1rem;
	margin: 0;
}

.header, .footer {
	background-color: #EEE;
	border-bottom: 2px solid #FA7;
	padding: .5em 1em;
}

.footer {
	border-bottom: none;
	border-top: 2px solid #FA7;
}
.main {
	padding: 1em;
}

h1 {
	line-height: 1;
	margin: 0;
}